# Database
DATABASE_URL=sqlite:///./rag_lab.db

# Storage
CHROMA_PERSIST_DIR=./chroma_data
UPLOAD_DIR=./uploads

# Embedding API Keys
GOOGLE_API_KEY=your_google_key_here
NVIDIA_API_KEY=your_nvidia_key_here
HUGGINGFACE_API_KEY=your_huggingface_key_here
OPENAI_API_KEY=your_openai_key_here        # optional

# Default Embedding Config
DEFAULT_EMBEDDING_PROVIDER=google
DEFAULT_EMBEDDING_MODEL=models/text-embedding-004

# LLM Config (deciding later)
GEMINI_API_KEY=your_gemini_key_here
DEFAULT_LLM_PROVIDER=gemini
DEFAULT_LLM_MODEL=tbd